.character-card {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  block-size: 10rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &::before {
    position: absolute;
    z-index: 0;
    border-radius: inherit;
    background: linear-gradient(to top, rgb(0 0 0 / 72%), rgb(0 0 0 / 33%));
    content: "";
    inset: 0;
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.01);
  }

  &__name {
    position: relative;
    z-index: 1;
    color: var(--main-text);
    font-size: 1.25rem;
    font-weight: 600;
  }
}
