.film-card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  gap: 0.5rem;
  min-block-size: 7rem;
  transition: transform 0.1s ease-in-out;

  &::before {
    position: absolute;
    z-index: 0;
    border-radius: inherit;
    background: linear-gradient(to top, rgb(0 0 0 / 72%), rgb(0 0 0 / 33%));
    content: "";
    inset: 0;
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.01);
  }

  &__film-title {
    z-index: 1;
    color: var(--main-text);
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__film-crawl {
    z-index: 1;
    margin: 0;
    color: var(--main-text);
    font-size: 0.75rem;
  }

  &__button {
    z-index: 1;
    display: flex;
    align-items: center;
    color: var(--primary-text);
    font-size: 0.75rem;
    gap: 0.5rem;

    i {
      font-size: 1rem;
    }
  }
}
