.notification {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--complementary-bg);
  color: var(--complementary-text);
  font-size: 0.75rem;
  max-inline-size: 12rem;

  &--danger {
    background-color: var(--danger-bg);
    color: var(--danger-text);
  }
}
