.header {
  position: sticky;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  block-size: 4rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 10%);
  inset-block-start: 0;
  padding-inline: 2rem;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 2rem;
  list-style: none;

  &__element {
    border-block-end: 1.5px solid transparent;
    color: white;
    font-weight: 500;
    padding-block: 0.5rem;
    padding-inline: 0;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      border-color: #ffd700;
      color: #ffd700;
      transition: border-color 0.2s ease, color 0.2s ease;
    }

    &--active {
      color: #ffd700;
      transition: color 0.2s ease;
    }
  }
}
