.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  &__message {
    color: #fb0;
    font-weight: 600;
    text-align: center;
  }

  &__sub-message {
    color: white;
    text-align: center;
  }

  &__icon {
    color: #fb0;
    font-size: 6rem;
  }
}
