.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  &__message {
    margin: 0;
    color: var(--primary-text);
    font-weight: 600;
    text-align: center;
  }

  &__sub-message {
    margin: 0;
    color: var(--main-text);
    text-align: center;
  }

  &__icon {
    color: var(--primary-text);
    font-size: 6rem;
  }
}
